.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* .call-to-action {
    background-color: #00A896 !important;
    border: #00A896 !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none ;
} */