@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

$primary-color: #05668D;
$primary-light-color: #028090;
$secondary-color: #00A896;
$secondary-light-color: #02C39A;
$highlight-color: #F0F3BD;
$text-color: black;
$button-text-color: white;

// md and up
@include media-breakpoint-up(md) {
    h1{font-size:50px; margin-bottom: 30px;}
    h2{font-size: 35px; margin-bottom: 25px;}
    h3{font-size: 22px; margin-bottom: 20px;}
    p{font-size: 15px; margin-bottom: 5px;}
}

// sm breakpoint
@include media-breakpoint-down(sm) {
    h1{font-size:35px; margin-bottom: 25px;}
    h2{font-size: 22px; margin-bottom: 20px;}
    h3{font-size: 15px; margin-bottom: 15px;}
    p{font-size: 12px; margin-bottom: 5px;}
}

.btn-custom-primary {
    background-color: $primary-light-color;
    color: $button-text-color;
}

.btn-custom-primary:hover {
    @extend .btn-custom-primary;
    background-color: $primary-color;
}

.btn-custom-secondary {
    background-color: $secondary-light-color;
    color: $button-text-color;
}

.btn-custom-secondary:hover {
    @extend .btn-custom-secondary;
    background-color: $secondary-color;
}