@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './vars.scss';

// md and up
@include media-breakpoint-up(md) {
    h1{font-size:50px; margin-bottom: 30px;}
    h2{font-size: 35px; margin-bottom: 25px;}
    h3{font-size: 22px; margin-bottom: 20px;}
    p{font-size: 15px; margin-bottom: 5px;}
}

// sm breakpoint
@include media-breakpoint-down(sm) {
    h1{font-size:35px; margin-bottom: 25px;}
    h2{font-size: 22px; margin-bottom: 20px;}
    h3{font-size: 15px; margin-bottom: 15px;}
    p{font-size: 12px; margin-bottom: 5px;}
}

.btn-custom-primary {
    background-color: $primary-light-color;
    color: $button-text-color;
}

.btn-custom-primary:hover {
    @extend .btn-custom-primary;
    background-color: $primary-color;
}

.btn-custom-secondary {
    background-color: $secondary-light-color;
    color: $button-text-color;
}

.btn-custom-secondary:hover {
    @extend .btn-custom-secondary;
    background-color: $secondary-color;
}

.btn-custom-secondary:disabled {
    display:none;
}

.custom-primary {
    color: $primary-color;
}

.custom-primary-light {
    color: $primary-light-color;
}

.custom-secondary {
    color: $secondary-color;
}

.custom-secondary-light {
    color: $secondary-light-color;
}

.custom-highlight {
    color: $highlight-color;
}

.text {
    color: $text-color;
}

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}