$primary-color: #05668D;
$primary-light-color: #028090;
$secondary-color: #00A896;
$secondary-light-color: #02C39A;
$highlight-color: #F0F3BD;
$text-color: black;
$button-text-color: white;

// :export {
//     primaryColor: $primary-color;
//     primary-light-color: $primary-light-color;
//     secondary-clor: $secondary-color;
//     secondary-light-color: $secondary-light-color;
//     highlight-color: $highlight-color;
//     text-color: $text-color;
//     button-text-color: $button-text-color;
// }